

<div class="footer">
  				<div class="row">
          
         
            
    <div class="col-xs-6 col-md-4">       
		<ul class="social_media"> 
 			<a class="github" href="#">github</a>
  		<a class="linkedin" href="#">linkedin</a>
   		<a class="twitter" href="#">twitter</a>
    </ul>
     
      </div>
        
  <div class="col-xs-12 col-md-8 right">          
  	<h6 class="footertext">&copy; Artur Janka Portfolio</h6>
  </div>
</div>
</div>